<a class="list-group-item list-group-item-action clearfix"  style="cursor: pointer;"
  routerLinkActive="active"
  [routerLink]="[index]" >
  <div class="d-flex w-100 justify-content-between">
    <h5 class="list-group-item-heading">{{ guestEvent.date | date:format }}</h5>
    <small>{{ guestEvent.event }}</small>
  </div>
    <p class="my-0"><small>Guests : {{ guestEvent.attendeesNames | concatArray }}</small></p>
    <p class="my-0"><small>Food : {{ guestEvent.dishesNames | concatArray }}</small></p>
    <p class="my-0"><small>Drinks : {{ guestEvent.drinksNames | concatArray }}</small></p>
</a>